
  <div>
    <div class="container-4 w-container">
      <div class="div-block-3" style="background-color: #f2f2f2;">
        <div>
          <h3 class="heading">Sign up</h3>
        </div>
        <div>
          <h6 class="heading-2">If you have already registered please <a href="/users/sign_in" class="">click here</a></h6>
          
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="div-block-1">
              <div>
                <div class="w-row">
                  <div class="column-3 w-col w-col-6">
                    <h6 class="heading-6" style="text-align: left !important; margin: 0px 0px 0px 10px;font-size: 14px; ">First Name</h6>
                    <%= f.text_field :first_name ,class: "form-control required w-input", id:"name-field",placeholder:"Enter First Name", :required => true, style:"margin-left:10px;"%>
                  </div>
                  <div class="column-3 w-col w-col-6">
                    <h6 class="heading-6" style="text-align: left !important; margin: 0px 0px 0px 10px; font-size: 14px;">Last Name</h6>
                    <%= f.text_field :last_name ,class: "form-control required w-input", id:"name-field",placeholder:"Enter Last Name", :required => true, style:"margin-left:10px;"%>
                  </div>
                </div>
              </div>
              
              <div style="margin-top: 10px;">
                <div class="w-row">
                  <div class="column-3 w-col w-col-6">
                    <h6 class="heading-6" style="text-align: left !important; margin: 0px 0px 0px 10px; font-size: 14px;">Email Address</h6>

                    <%= f.email_field :email ,class: "form-control required w-input", id:"name-field",placeholder:"Enter Email Address", :required => true, style:"margin-left:10px;"%>
                  </div>
                  <div class="column-3 w-col w-col-6">
                    <h6 class="heading-6" style="text-align: left !important; margin: 0px 0px 0px 10px; font-size: 14px;">Mobile</h6>
                    <%= f.text_field :mobile_number ,class: "form-control required w-input", id:"name-field",placeholder:"Enter mobile number", :required => true, style:"margin-left:10px;"%>
                  </div>
                </div>
              </div>

              <div style="margin-top: 10px;">
                <div class="w-row">
                  <div class="column-3 w-col w-col-6">
                    <h6 class="heading-6" style="text-align: left !important; margin: 0px 0px 0px 10px; font-size: 14px;">Password
                    <% if @minimum_password_length %>
                  <small>(<%= @minimum_password_length %>
                    characters minimum)</small>
                <% end %></h6>
                    <%= f.password_field :password, autocomplete: "off", class: "form-control w-input", id: "name-field",placeholder:"Enter password", :required => true, style:"margin-left:10px;" %>
                <%if resource.errors[:password].present?%>
                  <span style="color: #d80d0d; font-size:13px!important;" >* <%=resource.errors[:password].first%></span>
                <%end%>
                  </div>
                  <div class="column-3 w-col w-col-6">
                    <h6 class="heading-6" style="text-align: left !important; margin: 0px 0px 0px 10px; font-size: 14px;">Confirm Password</h6>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control w-input", id: "name-field",placeholder:"Enter password", :required => true, style:"margin-left:10px;"%>
                <%if resource.errors[:password_confirmation].present?%>
                  <span style="color: #d80d0d; font-size:13px!important;">* Password confirmation <%=resource.errors[:password_confirmation].first%></span>
                <%end%>
                  </div>
                </div>
              </div>

              <div style="margin-top: 10px;">
                <div class="w-row">
                  <div class="column-3 w-col w-col-6">
                    <h6 class="heading-6" style="text-align: left !important; margin: 0px 0px 0px 10px; font-size: 14px;">Organization/College</h6>
                    <%= f.text_field :organization ,class: "form-control required w-input", id:"name-field",placeholder:"Organization/College name", :required => true, style:"margin-left:10px;"%>
                  </div>
                  <div class="column-3 w-col w-col-6">
                    <h6 class="heading-6" style="text-align: left !important; margin: 0px 0px 0px 10px; font-size: 14px;">Designation</h6>
                    <%= f.text_field :designation ,class: "form-control required w-input", id:"name-field",placeholder:"Designation", :required => true, style:"margin-left:10px;"%>
                  </div>
                </div>
              </div>

              <div style="margin-top: 10px;">
                <div class="w-row">
                  <div class="column-3 w-col w-col-6">
                    <h6 class="heading-6" style="text-align: left !important; margin: 0px 0px 0px 10px; font-size: 14px;">Website URL, if any</h6>
                    <%= f.email_field :website_url ,class: "form-control required w-input", id:"name-field",placeholder:"Website URL", :required => true, style:"margin-left:10px;"%>
                  </div>
                  <div class="column-3 w-col w-col-6">
                    <h6 class="heading-6" style="text-align: left !important; margin: 0px 0px 0px 10px; font-size: 14px;">Where did you hear about the conference?</h6>
                    <%= f.select :promotion, options_for_select(['Website', 'E-mailers', 'Social Media','Colleagues', 'Others']), {}, { class: "form-control required w-input margin-on-select"}%>
                  </div>
                </div>
              </div>
              <div>
                <div class="w-row">
                  <div class="column-3 w-col w-col-5">
                    
                  </div>
                  <div class="column-5 w-col w-col-7">
                    <%= f.submit "Sign up", class: "button-3 w-button", style: "float:left; text-align:center; margin-bottom: 15px; border-radius: 10px;" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>


