
<% content_for :styles do %>
    <style type="text/css">
        .heading-tittle h2 {
          text-transform: uppercase;
          position: relative;
          text-align: center;
          font-size: 28px;
          font-weight: 400px;
          line-height: 10px;
          letter-spacing: 1px;
          font-family: 'Roboto Condensed', sans-serif;
     }
    /* LIST #2 */

     .button {
  border-radius: 4px;
  background-color: #3ec9cb !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn {
    border-radius: 4px;
  background-color: #3ec9cb !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
    

/*#list2 ol li p { padding:8px; font-style:normal; border-left: 1px solid #999; }
/*#list2 ol li p em { display:block; }*/
    .table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  /*height: 320px;*/
  margin: auto;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#fff;
  background:#333a56;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #fff;
  font-size:15px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:15px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}*/


     .button {
  border-radius: 4px;
  background-color: #3ec9cb !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn {
    border-radius: 4px;
  background-color: #3ec9cb !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

    .button {
  border-radius: 4px;
  background-color: #3ec9cb !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

     .button1 {
  border-radius: 4px;
  background-color: #a9a9a9 !important;
  border: none;
  color: #3a3a3a;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  /*width: 200px;*/
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn {
    border-radius: 4px;
  background-color: #3ec9cb !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .w-slider {
    height: 150px !important;
  }

}
    </style>
<%end%> 
<div style="margin-bottom: 100px;">

      <div class="heading-tittle color-black w-container" style="max-width: none !important;">
          <div>
      <div data-delay="4000" data-animation="slide" data-autoplay="1" data-duration="500" data-infinite="1" class="w-slider" >
        <div class="w-slider-mask">
         <!--  
          <div class="slide-2 w-slide">
            <a href="/tracks" class="button" style="position: absolute; top: 63%; left: 47%;  cursor: pointer; opacity: 0">
              
            </a>
          </div> -->
          <div class="slide-6 w-slide"></div>
          <!-- <div class="slide-6 w-slide"></div> -->
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-slider-nav w-round"></div>
      </div>
      <div class="w-container"></div>
     <h2 class="-5" style="margin: 30px 0px 30px 0px;"><p style="text-decoration: underline; text-decoration-color: #3b1e9a;">Applications</p></h2>
    </div>
      
    </div>
  
          <div class="row">
            <div class="" style="padding: 10px; text-align: justify;">
              <h4 class="heading-8" style="text-align: left;font-family: 'Roboto Condensed', sans-serif; "> <p style="text-decoration: underline; text-decoration-color: #3b1e9a;"> WHO CAN PARTICIPATE?</p></h4>
              <div class="card-track">
                <p style="padding: 20px;">Doctoral scholars/young faculty colleagues with background in management, humanities,
                social sciences, and other related fields in the domain of Sustainability. Multidisciplinary and
                trans-disciplinary works are welcome.</p>
              </div>
            </div>
            <div class="" style="padding: 10px; text-align: justify;">
              <h4 class="heading-8" style="text-align: left;font-family: 'Roboto Condensed', sans-serif; "> <p style="text-decoration: underline; text-decoration-color: #3b1e9a;">PRESENTATION TYPE :</p></h4>
              <div class="card-track" style="padding: 10px;">
                <div id="list2">
                  <ol>
                    <li><p>Oral presentation ;  <br>
                      <b style="margin-left: 20px;">Concept paper : </b>Synthesis of literature review, conceptual framework, theoretical
                      development and insights etc.<br>
                      <b style="margin-left: 20px;">Proposal : </b>Work in progress, with details on methodology to be followed <br>
                      <b style="margin-left: 20px;">Full Paper : </b>Empirical work from different perspectives are welcome</p></li>
                    <li><p>Poster presentation</p></li>
                    <li><p>No presentation is required. All are welcome to attend.</p></li>
                  </ol>
                </div>
              </div>         
            </div>


      <div class="" style="padding: 10px; text-align: justify;">
        <h4 class="heading-8" style="text-align: left;font-family: 'Roboto Condensed', sans-serif; "> <p style="text-decoration: underline; text-decoration-color: #3b1e9a;">APPLICATION REQUIREMENTS :</p>
        </h4>
        <div class="card-track" style="padding: 10px;">
          <div id="list2">
            <ol>
              <li>
                <p>100 words abstract</p>
              </li>
              <li>
                <p>An up-to-date curriculum vita</p>
              </li>
            </ol>
          </div>
        </div>         
      </div>
      <div class="" style="padding: 10px; text-align: justify;">
        <h4 class="heading-8" style="text-align: left;font-family: 'Roboto Condensed', sans-serif; "> <p style="text-decoration: underline; text-decoration-color: #3b1e9a;"> APPLICATION PROCEDURE : </p>
        </h4>
        <div class="card-track" style="padding: 10px;">
          <div id="list2">
            <ol>
              <li><p>Applicants should submit the application requirements by email : <br>
                <b style="margin-left: 20px;">E-Mail ID : </b>prme.doctoral@spjimr.org <br>
                <b style="margin-left: 20px;">Subject Line : </b>Doctoral Colloquium-The 8th PRME Asia Forum- YOURNAME</p></li>
              <li><p>Indicate the preference as regards presentation type in the e-mail. For instance, if you
                  wish to do an oral presentation-concept paper, then please mention ‘Ai’ in e-mail, if</p></li>
              <li><p>Register online and make the payment. Please attach the payment receipt in the e-mail</p></li>
              <li><p>All submissions must be received by the chairs by October 19 th , 2018. <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Submissions
                     received after this date will not be considered. Submissions will be acknowledged by
                      email once they have been checked for completeness.</p> </li>
            </ol>
          </div>
        </div>
      </div>
            <div class="" id="register" style="padding: 10px; text-align: justify;">
        <h4 class="heading-8" style="text-align: left;font-family: 'Roboto Condensed', sans-serif; "> <p style="text-decoration: underline; text-decoration-color: #3b1e9a;">FEES :</p>
        </h4>
        <div class="card-track" style="padding: 10px;">
            <table class="table-fill">
            <tbody class="table-hover">
            <tr>
            <td class="text-left">For attending Doctoral Colloquium</td>
            <td class="text-left">1000 INR</td>
            <!-- <td class="text-center"><button id="btnSubmit" class="button"><span>Make a Payment</span></button></td> -->
            </tr>
            <tr>
            <td class="text-left">For attending Doctoral Colloquium &amp; 2 Day Forum</td>
            <td class="text-left">3000 INR</td>
            <!-- <td class="text-center"><button id="btnSubmit1" class="button"><span>Make a Payment</span></button></td> -->
            </tr>
            
            </tbody>
            </table>  
            <div class="row-2 w-row" style="margin: 20px;"> 
              <% if !current_user %>
              <div class="column-12 w-col w-col-12" style="text-align: center">
                <h4 class="heading-8" style="font-family: 'Roboto Condensed', sans-serif; font-size: 18px"> <p style=" display: inline"> 
                Please </p>
      <%= link_to new_user_session_path,class:"button1" do %>
        <span> Log In </span> 
      <% end %>
      /
      <%= link_to new_user_registration_path,class:"button1" do%>
      <span> Register</span> 
      <%end%>
      <p style=" display: inline">
     to register for doctoral colloquium.
              </p></h4>
            </div>
            <%elsif%>
            <div class="column-12 w-col w-col-12" style="padding-top: 10px;">
                <p style="text-decoration: underline; text-decoration-color: #3b1e9a; font-size: 18px;">SELECT CATEGORY OF PARTICIPATION</p>
              </div>
              <div class="column-3 w-col w-col-3"></div>
              <div class="column-5 w-col w-col-5" style="padding-top: 13px; border-right: none">
                 <select id="YourSelectComponentID">
                    <option value="1000">For attending Doctoral Colloquium</option>
                    <option value="3000">For attending Doctoral Colloquium and 2 day forum</option>
                 </select>
              </div>
              <div class="column-2 w-col w-col-2" style="padding-top: 0px; border-right: none">
                <button id="btnSubmit" class="button"><span>Make a Payment</span></button>
              </div>
              <div class="column-2 w-col w-col-2" style="border-right: none"></div>
              <%end%>
            </div>
    
    <script type="text/javascript" src="https://www.paynimo.com/Paynimocheckout/server/lib/checkout.js"></script>
    <% if current_user %>
    <script type="text/javascript">
        document.getElementById('btnSubmit').onclick = function() {

                    if(document.getElementById("YourSelectComponentID").value == 1000)
                    {
                        $(document).ready(function() {
            function handleResponse(res) {
                if (typeof res != 'undefined' && typeof res.paymentMethod != 'undefined' && typeof res.paymentMethod.paymentTransaction != 'undefined' && typeof res.paymentMethod.paymentTransaction.statusCode != 'undefined' && res.paymentMethod.paymentTransaction.statusCode == '0300') {
                    // success block
                } else if (typeof res != 'undefined' && typeof res.paymentMethod != 'undefined' && typeof res.paymentMethod.paymentTransaction != 'undefined' && typeof res.paymentMethod.paymentTransaction.statusCode != 'undefined' && res.paymentMethod.paymentTransaction.statusCode == '0398') {
                    // initiated block
                } else {
                    // error block
                }
            };

            $(document).off('click', '#btnSubmit').on('click', '#btnSubmit', function(e) {
                e.preventDefault();

                var configJson = {
                    'tarCall': false,
                    'features': {
                        'showPGResponseMsg': true,
                        'enableExpressPay': true,
                        'enableNewWindowFlow': true    //for hybrid applications please disable this by passing false
                    },
                    'consumerData': {
                        'deviceId': 'WEBSH2', //possible values 'WEBSH1', 'WEBSH2' and 'WEBMD5'
                        'token': '<%= @token1 %>',
                        'returnUrl': '<%= payments_path %>',
                        'responseHandler': handleResponse,
                        'paymentMode': 'all',
                        'merchantLogoUrl': '../home1.jpg',  //provided merchant logo will be displayed
                        'disclaimerMsg': "INDUSTRY PARTICIPANT",
                        'merchantId': 'L522',
                        'currency': 'INR',
                        'consumerId': '<%= current_user.id%>',
                        'consumerMobileNo': '<%= current_user.mobile_number%>',
                        'consumerEmailId': '<%= current_user.email %>',
                        'txnId': '<%= @txnid %>',   //Unique merchant transaction ID
                        'items': [{
                            'itemId': 'PRME',
                            'amount': '1000',
                            'comAmt': '0'
                        }],
                        'customStyle': {
                            'PRIMARY_COLOR_CODE': '#333a56',   //merchant primary color code
                            'SECONDARY_COLOR_CODE': '#FFFFFF',   //provide merchant's suitable color code
                            'BUTTON_COLOR_CODE_1': '#52658f',   //merchant's button background color code
                            'BUTTON_COLOR_CODE_2': '#FFFFFF'   //provide merchant's suitable color code for button text
                        }
                    }
                };

                $.pnCheckout(configJson);
                if(configJson.features.enableNewWindowFlow){
                    pnCheckoutShared.openNewWindow();
                }
            });
        });
                    } else if(document.getElementById("YourSelectComponentID").value == 3000) {
                        $(document).ready(function() {
            function handleResponse(res) {
                if (typeof res != 'undefined' && typeof res.paymentMethod != 'undefined' && typeof res.paymentMethod.paymentTransaction != 'undefined' && typeof res.paymentMethod.paymentTransaction.statusCode != 'undefined' && res.paymentMethod.paymentTransaction.statusCode == '0300') {
                    // success block
                } else if (typeof res != 'undefined' && typeof res.paymentMethod != 'undefined' && typeof res.paymentMethod.paymentTransaction != 'undefined' && typeof res.paymentMethod.paymentTransaction.statusCode != 'undefined' && res.paymentMethod.paymentTransaction.statusCode == '0398') {
                    // initiated block
                } else {
                    // error block
                }
            };

            $(document).off('click', '#btnSubmit').on('click', '#btnSubmit', function(e) {
                e.preventDefault();

                var configJson = {
                    'tarCall': false,
                    'features': {
                        'showPGResponseMsg': true,
                        'enableExpressPay': true,
                        'enableNewWindowFlow': true    //for hybrid applications please disable this by passing false
                    },
                    'consumerData': {
                        'deviceId': 'WEBSH2', //possible values 'WEBSH1', 'WEBSH2' and 'WEBMD5'
                        'token': '<%= @token2 %>',
                        'returnUrl': '<%= payments_path %>',
                        'responseHandler': handleResponse,
                        'paymentMode': 'all',
                        'merchantLogoUrl': '../home1.jpg',  //provided merchant logo will be displayed
                        'disclaimerMsg': "Members of UN Global Compact Network",
                        'merchantId': 'L522',
                        'currency': 'INR',
                        'consumerId': '<%= current_user.id%>',
                        'consumerMobileNo': '<%= current_user.mobile_number%>',
                        'consumerEmailId': '<%= current_user.email %>',
                        'txnId': '<%= @txnid %>',   //Unique merchant transaction ID
                        'items': [{
                            'itemId': 'PRME',
                            'amount': '3000',
                            'comAmt': '0'
                        }],
                        'customStyle': {
                            'PRIMARY_COLOR_CODE': '#333a56',   //merchant primary color code
                            'SECONDARY_COLOR_CODE': '#FFFFFF',   //provide merchant's suitable color code
                            'BUTTON_COLOR_CODE_1': '#52658f',   //merchant's button background color code
                            'BUTTON_COLOR_CODE_2': '#FFFFFF'   //provide merchant's suitable color code for button text
                        }
                    }
                };

                $.pnCheckout(configJson);
                if(configJson.features.enableNewWindowFlow){
                    pnCheckoutShared.openNewWindow();
                }
            });
        });
                    } 

                  };
                 
    </script>
    <%end%>
        </div> 

      </div>
        </div>

</div>