
<% content_for :styles do %>
    <style type="text/css">
        .heading-tittle h2 {
          text-transform: uppercase;
          position: relative;
          text-align: center;
          font-size: 28px;
          font-weight: 400px;
          line-height: 10px;
          letter-spacing: 1px;
          font-family: 'Roboto Condensed', sans-serif;
     }

     @media only screen and (max-width: 1280px) {
    .w-slider {
        height: 233px !important;
    }
}

@media only screen and (min-width: 1600px) {
    .w-slider {
        height: 298px !important;
    }
}

@media only screen and (max-width: 600px) {
  .w-slider {
    height: 60px !important;
  }
  .w-tab-content {
    overflow: inherit !important;
  }
  .margin_for_mobile_adjust {
    margin:0px !important;
  }
}

.w-slider {height: 265px;}
    .table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#fff;
  background:#333a56;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #fff;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}


     .button {
  border-radius: 4px;
  background-color: #3ec9cb !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn {
    border-radius: 4px;
  background-color: #3ec9cb !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

    .button {
  border-radius: 4px;
  background-color: #3ec9cb !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

     .button1 {
  border-radius: 4px;
  background-color: #a9a9a9 !important;
  border: none;
  color: #3a3a3a;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  /*width: 200px;*/
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn {
    border-radius: 4px;
  background-color: #3ec9cb !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}


    </style>
<%end%> 


    <div style="margin-bottom: 100px;">
      <div class="heading-tittle color-black w-container" style="max-width: none !important;">


        <div>
      <div data-delay="4000" data-animation="slide" data-autoplay="1" data-duration="500" data-infinite="1" class="w-slider">
        <div class="w-slider-mask">
          <div class="slide-2 w-slide"></div>
          <div class="slide-3 w-slide">
            <a href="/tracks" class="button" style="position: absolute; top: 63%; left: 47%;  cursor: pointer; opacity: 0">
              
            </a>
          </div>
          <!-- <div class="slide-6 w-slide"></div> -->
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-slider-nav w-round"></div>
      </div>
      <div class="w-container"></div>
        <h2 class="" style="margin-top: 30px; margin-bottom: 30px;"><p style="text-decoration: underline; text-decoration-color: #3b1e9a;">FEES</p></h2>


</div>



        <div data-duration-in="300" data-duration-out="100" class="w-tabs margin_for_mobile_adjust" style="max-width: 940px !important; margin: 0px 170px 0px 170px;">
          <div class="tabs-menu w-tab-menu">
            <a data-w-tab="Tab 1" class="open-tab w-inline-block w-tab-link w--current">
              <div style="font-size: 18px">INR</div>
            </a>
            <a data-w-tab="Tab 2" class="open-tab w-inline-block w-tab-link">
              <div style="font-size: 18px;">DOLLARS</div>
            </a>
          </div>
          <div class="w-tab-content" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;" >
            <div data-w-tab="Tab 1" class="w-tab-pane">

              <table class="table-fill">

<tbody class="table-hover">
<tr>
<td class="text-left">Industry participant</td>
<td class="text-left">8000 INR per person</td>
</tr>
<tr>
<td class="text-left">Members of UN Global Compact Network</td>
<td class="text-left">6000 INR per person</td>
</tr>
<tr>
<td class="text-left">Academics</td>
<td class="text-left">6000 INR per person</td>
</tr>
<tr>
<td class="text-left">Students</td>
<td class="text-left">2000 INR per person</td>
</tr>
<tr>
<td class="text-left">Social Sector</td>
<td class="text-left">1500 INR per person</td>
</tr>
</tbody>
</table>

            </div>
            <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">

              <table class="table-fill">

<tbody class="table-hover">
<tr>
<td class="text-left">Industry participant</td>
<td class="text-left">120 USD per person</td>
</tr>
<tr>
<td class="text-left">Members of UN Global Compact Network</td>
<td class="text-left">90 USD per person</td>
</tr>
<tr>
<td class="text-left">Academics</td>
<td class="text-left">90 USD per person</td>
</tr>
<tr>
<td class="text-left">Students</td>
<td class="text-left">30 USD per person</td>
</tr>
<tr>
<td class="text-left">Social Sector</td>
<td class="text-left">20 USD per person</td>
</tr>
</tbody>
</table>


            </div>
            <div class="row-2 w-row" style="margin: 20px;"> 
              <% if !current_user %>
              <div class="row-2 w-row">
              <div class="column-12 w-col w-col-12" style="text-align: center">
                <h4 class="heading-8" style="font-family: 'Roboto Condensed', sans-serif; font-size: 18px"> <p style=" display: inline"> 
                Please </p>
      <%= link_to new_user_session_path,class:"button1" do %>
        <span> Log In </span> 
      <% end %>
      /
      <%= link_to new_user_registration_path,class:"button1" do%>
      <span> Register</span> 
      <%end%>
      <p style=" display: inline">
     to register for forum.
              </p></h4>
            </div>
          </div>
              <% else %>
              <div class="column-12 w-col w-col-12" style="padding-top: 10px;">
                <p style="text-decoration: underline; text-decoration-color: #3b1e9a; font-size: 18px;">SELECT CATEGORY OF PARTICIPATION</p>
              </div>
              <div class="column-6 w-col w-col-6" style="padding-top: 10px;">
                 <select id="YourSelectComponentID">
                    <option value="8000">Industry Participant</option>
                    <option value="60001">Members of UN Global Compact Network</option>
                    <option value="60002">Academics</option>
                    <option value="2000">Students</option>
                    <option value="1500">Social Sector</option>
                 </select>
              </div>
              <div class="column-6 w-col w-col-6">
                <button id="btnSubmit" class="button" style="margin-top: 0px;float: right"><span>Make a Payment</span></button>
                 <script type="text/javascript" src="https://www.paynimo.com/Paynimocheckout/server/lib/checkout.js"></script>
                <script type="text/javascript">


                  document.getElementById('btnSubmit').onclick = function() {

                    if(document.getElementById("YourSelectComponentID").value == 8000)
                    {
                        $(document).ready(function() {
            function handleResponse(res) {
                if (typeof res != 'undefined' && typeof res.paymentMethod != 'undefined' && typeof res.paymentMethod.paymentTransaction != 'undefined' && typeof res.paymentMethod.paymentTransaction.statusCode != 'undefined' && res.paymentMethod.paymentTransaction.statusCode == '0300') {
                    // success block
                } else if (typeof res != 'undefined' && typeof res.paymentMethod != 'undefined' && typeof res.paymentMethod.paymentTransaction != 'undefined' && typeof res.paymentMethod.paymentTransaction.statusCode != 'undefined' && res.paymentMethod.paymentTransaction.statusCode == '0398') {
                    // initiated block
                } else {
                    // error block
                }
            };

            $(document).off('click', '#btnSubmit').on('click', '#btnSubmit', function(e) {
                e.preventDefault();

                var configJson = {
                    'tarCall': false,
                    'features': {
                        'showPGResponseMsg': true,
                        'enableExpressPay': true,
                        'enableNewWindowFlow': true    //for hybrid applications please disable this by passing false
                    },
                    'consumerData': {
                        'deviceId': 'WEBSH2', //possible values 'WEBSH1', 'WEBSH2' and 'WEBMD5'
                        'token': '<%= @token1 %>',
                        'returnUrl': '<%= payments_path %>',
                        'responseHandler': handleResponse,
                        'paymentMode': 'all',
                        'merchantLogoUrl': '../home1.jpg',  //provided merchant logo will be displayed
                        'disclaimerMsg': "INDUSTRY PARTICIPANT",
                        'merchantId': 'L522',
                        'currency': 'INR',
                        'consumerId': '<%= current_user.id %>',
                        'consumerMobileNo': '7506985279',
                        'consumerEmailId': '<%= current_user.email %>',
                        'txnId': '<%= @txnid %>',   //Unique merchant transaction ID
                        'items': [{
                            'itemId': 'PRME',
                            'amount': '8000',
                            'comAmt': '0'
                        }],
                        'customStyle': {
                            'PRIMARY_COLOR_CODE': '#333a56',   //merchant primary color code
                            'SECONDARY_COLOR_CODE': '#FFFFFF',   //provide merchant's suitable color code
                            'BUTTON_COLOR_CODE_1': '#52658f',   //merchant's button background color code
                            'BUTTON_COLOR_CODE_2': '#FFFFFF'   //provide merchant's suitable color code for button text
                        }
                    }
                };

                $.pnCheckout(configJson);
                if(configJson.features.enableNewWindowFlow){
                    pnCheckoutShared.openNewWindow();
                }
            });
        });
                    } else if(document.getElementById("YourSelectComponentID").value == 60001) {
                        $(document).ready(function() {
            function handleResponse(res) {
                if (typeof res != 'undefined' && typeof res.paymentMethod != 'undefined' && typeof res.paymentMethod.paymentTransaction != 'undefined' && typeof res.paymentMethod.paymentTransaction.statusCode != 'undefined' && res.paymentMethod.paymentTransaction.statusCode == '0300') {
                    // success block
                } else if (typeof res != 'undefined' && typeof res.paymentMethod != 'undefined' && typeof res.paymentMethod.paymentTransaction != 'undefined' && typeof res.paymentMethod.paymentTransaction.statusCode != 'undefined' && res.paymentMethod.paymentTransaction.statusCode == '0398') {
                    // initiated block
                } else {
                    // error block
                }
            };

            $(document).off('click', '#btnSubmit').on('click', '#btnSubmit', function(e) {
                e.preventDefault();

                var configJson = {
                    'tarCall': false,
                    'features': {
                        'showPGResponseMsg': true,
                        'enableExpressPay': true,
                        'enableNewWindowFlow': true    //for hybrid applications please disable this by passing false
                    },
                    'consumerData': {
                        'deviceId': 'WEBSH2', //possible values 'WEBSH1', 'WEBSH2' and 'WEBMD5'
                        'token': '<%= @token2 %>',
                        'returnUrl': '<%= payments_path %>',
                        'responseHandler': handleResponse,
                        'paymentMode': 'all',
                        'merchantLogoUrl': '../home1.jpg',  //provided merchant logo will be displayed
                        'disclaimerMsg': "Members of UN Global Compact Network",
                        'merchantId': 'L522',
                        'currency': 'INR',
                        'consumerId': '<%= current_user.id %>',
                        'consumerMobileNo': '7506985279',
                        'consumerEmailId': '<%= current_user.email %>',
                        'txnId': '<%= @txnid %>',   //Unique merchant transaction ID
                        'items': [{
                            'itemId': 'PRME',
                            'amount': '6000',
                            'comAmt': '0'
                        }],
                        'customStyle': {
                            'PRIMARY_COLOR_CODE': '#333a56',   //merchant primary color code
                            'SECONDARY_COLOR_CODE': '#FFFFFF',   //provide merchant's suitable color code
                            'BUTTON_COLOR_CODE_1': '#52658f',   //merchant's button background color code
                            'BUTTON_COLOR_CODE_2': '#FFFFFF'   //provide merchant's suitable color code for button text
                        }
                    }
                };

                $.pnCheckout(configJson);
                if(configJson.features.enableNewWindowFlow){
                    pnCheckoutShared.openNewWindow();
                }
            });
        });
                    } else if(document.getElementById("YourSelectComponentID").value == 60002) {
                        $(document).ready(function() {
            function handleResponse(res) {
                if (typeof res != 'undefined' && typeof res.paymentMethod != 'undefined' && typeof res.paymentMethod.paymentTransaction != 'undefined' && typeof res.paymentMethod.paymentTransaction.statusCode != 'undefined' && res.paymentMethod.paymentTransaction.statusCode == '0300') {
                    // success block
                } else if (typeof res != 'undefined' && typeof res.paymentMethod != 'undefined' && typeof res.paymentMethod.paymentTransaction != 'undefined' && typeof res.paymentMethod.paymentTransaction.statusCode != 'undefined' && res.paymentMethod.paymentTransaction.statusCode == '0398') {
                    // initiated block
                } else {
                    // error block
                }
            };

            $(document).off('click', '#btnSubmit').on('click', '#btnSubmit', function(e) {
                e.preventDefault();

                var configJson = {
                    'tarCall': false,
                    'features': {
                        'showPGResponseMsg': true,
                        'enableExpressPay': true,
                        'enableNewWindowFlow': true    //for hybrid applications please disable this by passing false
                    },
                    'consumerData': {
                        'deviceId': 'WEBSH2', //possible values 'WEBSH1', 'WEBSH2' and 'WEBMD5'
                        'token': '<%= @token3 %>',
                        'returnUrl': '<%= payments_path %>',
                        'responseHandler': handleResponse,
                        'paymentMode': 'all',
                        'merchantLogoUrl': '../home1.jpg',  //provided merchant logo will be displayed
                        'disclaimerMsg': "Academics",
                        'merchantId': 'L522',
                        'currency': 'INR',
                        'consumerId': '<%= current_user.id %>',
                        'consumerMobileNo': '7506985279',
                        'consumerEmailId': '<%= current_user.email %>',
                        'txnId': '<%= @txnid %>',   //Unique merchant transaction ID
                        'items': [{
                            'itemId': 'PRME',
                            'amount': '6000',
                            'comAmt': '0'
                        }],
                        'customStyle': {
                            'PRIMARY_COLOR_CODE': '#333a56',   //merchant primary color code
                            'SECONDARY_COLOR_CODE': '#FFFFFF',   //provide merchant's suitable color code
                            'BUTTON_COLOR_CODE_1': '#52658f',   //merchant's button background color code
                            'BUTTON_COLOR_CODE_2': '#FFFFFF'   //provide merchant's suitable color code for button text
                        }
                    }
                };

                $.pnCheckout(configJson);
                if(configJson.features.enableNewWindowFlow){
                    pnCheckoutShared.openNewWindow();
                }
            });
        });
                    } else if(document.getElementById("YourSelectComponentID").value == 2000) {
                        $(document).ready(function() {
            function handleResponse(res) {
                if (typeof res != 'undefined' && typeof res.paymentMethod != 'undefined' && typeof res.paymentMethod.paymentTransaction != 'undefined' && typeof res.paymentMethod.paymentTransaction.statusCode != 'undefined' && res.paymentMethod.paymentTransaction.statusCode == '0300') {
                    // success block
                } else if (typeof res != 'undefined' && typeof res.paymentMethod != 'undefined' && typeof res.paymentMethod.paymentTransaction != 'undefined' && typeof res.paymentMethod.paymentTransaction.statusCode != 'undefined' && res.paymentMethod.paymentTransaction.statusCode == '0398') {
                    // initiated block
                } else {
                    // error block
                }
            };

            $(document).off('click', '#btnSubmit').on('click', '#btnSubmit', function(e) {
                e.preventDefault();

                var configJson = {
                    'tarCall': false,
                    'features': {
                        'showPGResponseMsg': true,
                        'enableExpressPay': true,
                        'enableNewWindowFlow': true    //for hybrid applications please disable this by passing false
                    },
                    'consumerData': {
                        'deviceId': 'WEBSH2', //possible values 'WEBSH1', 'WEBSH2' and 'WEBMD5'
                        'token': '<%= @token4 %>',
                        'returnUrl': '<%= payments_path %>',
                        'responseHandler': handleResponse,
                        'paymentMode': 'all',
                        'merchantLogoUrl': '../home1.jpg',  //provided merchant logo will be displayed
                        'disclaimerMsg': "Students",
                        'merchantId': 'L522',
                        'currency': 'INR',
                        'consumerId': '<%= current_user.id %>',
                        'consumerMobileNo': '7506985279',
                        'consumerEmailId': '<%= current_user.email %>',
                        'txnId': '<%= @txnid %>',   //Unique merchant transaction ID
                        'items': [{
                            'itemId': 'PRME',
                            'amount': '2000',
                            'comAmt': '0'
                        }],
                        'customStyle': {
                            'PRIMARY_COLOR_CODE': '#333a56',   //merchant primary color code
                            'SECONDARY_COLOR_CODE': '#FFFFFF',   //provide merchant's suitable color code
                            'BUTTON_COLOR_CODE_1': '#52658f',   //merchant's button background color code
                            'BUTTON_COLOR_CODE_2': '#FFFFFF'   //provide merchant's suitable color code for button text
                        }
                    }
                };

                $.pnCheckout(configJson);
                if(configJson.features.enableNewWindowFlow){
                    pnCheckoutShared.openNewWindow();
                }
            });
        });
                    } else if(document.getElementById("YourSelectComponentID").value == 1500) {
                        $(document).ready(function() {
            function handleResponse(res) {
                if (typeof res != 'undefined' && typeof res.paymentMethod != 'undefined' && typeof res.paymentMethod.paymentTransaction != 'undefined' && typeof res.paymentMethod.paymentTransaction.statusCode != 'undefined' && res.paymentMethod.paymentTransaction.statusCode == '0300') {
                    // success block
                } else if (typeof res != 'undefined' && typeof res.paymentMethod != 'undefined' && typeof res.paymentMethod.paymentTransaction != 'undefined' && typeof res.paymentMethod.paymentTransaction.statusCode != 'undefined' && res.paymentMethod.paymentTransaction.statusCode == '0398') {
                    // initiated block
                } else {
                    // error block
                }
            };

            $(document).off('click', '#btnSubmit').on('click', '#btnSubmit', function(e) {
                e.preventDefault();

                var configJson = {
                    'tarCall': false,
                    'features': {
                        'showPGResponseMsg': true,
                        'enableExpressPay': true,
                        'enableNewWindowFlow': true    //for hybrid applications please disable this by passing false
                    },
                    'consumerData': {
                        'deviceId': 'WEBSH2', //possible values 'WEBSH1', 'WEBSH2' and 'WEBMD5'
                        'token': '<%= @token5 %>',
                        'returnUrl': '<%= payments_path %>',
                        'responseHandler': handleResponse,
                        'paymentMode': 'all',
                        'merchantLogoUrl': '../home1.jpg',  //provided merchant logo will be displayed
                        'disclaimerMsg': "Social Sector",
                        'merchantId': 'L522',
                        'currency': 'INR',
                        'consumerId': '<%= current_user.id %>',
                        'consumerMobileNo': '7506985279',
                        'consumerEmailId': '<%= current_user.email %>',
                        'txnId': '<%= @txnid %>',   //Unique merchant transaction ID
                        'items': [{
                            'itemId': 'PRME',
                            'amount': '1500',
                            'comAmt': '0'
                        }],
                        'customStyle': {
                            'PRIMARY_COLOR_CODE': '#333a56',   //merchant primary color code
                            'SECONDARY_COLOR_CODE': '#FFFFFF',   //provide merchant's suitable color code
                            'BUTTON_COLOR_CODE_1': '#52658f',   //merchant's button background color code
                            'BUTTON_COLOR_CODE_2': '#FFFFFF'   //provide merchant's suitable color code for button text
                        }
                    }
                };

                $.pnCheckout(configJson);
                if(configJson.features.enableNewWindowFlow){
                    pnCheckoutShared.openNewWindow();
                }
            });
        });
                    }






                  };
                 
                </script>
              </div>
            <% end %>

<script type="text/javascript">
        
    </script>
            </div>
          </div>
        </div>
<div class="column-12 w-col w-col-12" style="padding-top: 10px;text-align: center">
               <p style="text-decoration: ; text-decoration-color: #3b1e9a; font-size: 16px;">In case you wish to pay via wire transfer, please <a href="../Details_of_Wire_Transfer_International[1].doc" target="_blank" style="text-decoration: underline; text-decoration-color: #3b1e9a; font-size: 16px;">click here for details</a></p>
              </div>


      </div>
    </div>