

<% content_for :styles do %>
    <style type="text/css">
        .heading-tittle h2 {
          text-transform: uppercase;
          position: relative;
          text-align: center;
          font-size: 28px;
          font-weight: 400px;
          line-height: 10px;
          letter-spacing: 1px;
          font-family: 'Roboto Condensed', sans-serif;
     }
     .button {
  border-radius: 4px;
  background-color: #3ec9cb !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn {
    border-radius: 4px;
  background-color: #3ec9cb !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
   

    </style>
<%end%> 
<% if current_user%>

<div>
  <div class="container-5 w-container" style="max-width: none !important; padding-top: 0px !important">
            <div>
      <div data-delay="4000" data-animation="slide" data-autoplay="1" data-duration="500" data-infinite="1" class="w-slider">
        <div class="w-slider-mask">
          <div class="slide-1 w-slide"></div>
          <div class="slide-5 w-slide">
            <a href="/tracks" class="button" style="position: absolute; top: 63%; left: 47%;  cursor: pointer; opacity: 0">
              
            </a>
          </div>
          <!-- <div class="slide-6 w-slide"></div> -->
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-slider-nav w-round"></div>
      </div>
      <div class="w-container"></div>
    </div>
    <div class="heading-tittle color-black w-container">
    <h2 class="heading-5" style=""><p style="text-decoration: underline; text-decoration-color: #3b1e9a; margin-top: 50px;">Upload Abstract</p></h2>
    </div>
    <h6 class="heading-5" style="font-family: 'Roboto Condensed', sans-serif;"><p style="text-decoration: underline; text-decoration-color: #3b1e9a;display: inline">Name of the file  </p> : &nbsp; <p style="display: inline; font-size: 15px;">< First Name Last Name_Track Name> </p> </h6>
    <div class="div-block-4" style="margin-bottom: 50px;">
      <div>
        <div class="w-row heading-5">
         
              <%= form_tag abstracts_path, enctype: 'multipart/form-data' do %>
              <div class="card" style="height: 90px; margin-bottom: 30px;">
              <div class="column-6 w-col w-col-6" >
                <h5 class="heading-10" style="font-size: 17px;font-family: 'Roboto Condensed', sans-serif; margin-left: 10px; color:#6c757d!important">Choose abstract</h5>
              </div>
              <div class="column-6 w-col w-col-6" style="margin-top: 10px; ">
                
                  <%= file_field_tag :file , :style => "margin-left: 5px;" %>
                  <p class="heading-10" style="font-size: 14px;font-family: 'Roboto Condensed', sans-serif; margin-left: 0px; color:#6c757d; margin-right: 70px;">(Please upload pdf only)</p>
              </div>
              
                </div>
                <%= button_tag(type: "submit", class: "button") do %>
                   <span class="">Update File</span>
              <% end %>
              <% end %>
     
        </div>
      </div>
    </div>
  </div>
</div>

<% elsif %>
<div>
  <div class="container-5 w-container" style="max-width: none !important; padding-top: 0px !important ">
        <div>
      <div data-delay="4000" data-animation="slide" data-autoplay="1" data-duration="500" data-infinite="1" class="w-slider">
        <div class="w-slider-mask">
          <div class="slide-1 w-slide"></div>
          <div class="slide-5 w-slide">
            <a href="/tracks" class="button" style="position: absolute; top: 63%; left: 47%;  cursor: pointer; opacity: 0">
              
            </a>
          </div>
          <!-- <div class="slide-6 w-slide"></div> -->
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-slider-nav w-round"></div>
      </div>
      <div class="w-container"></div>
    </div>
    <h6 class="heading-5" style="background-color: #a9a9a9; color:#3a3a3a; margin: 0px !important; font-size: 14px; height: 40px;">Please &nbsp;
    	<%= link_to new_user_session_path,class:"button" do %>
        <span> Log In </span> 
      <% end %>
    	/
    	<%= link_to new_user_registration_path,class:"btb" do%>
      <span> Register</span> 
      <%end%>&nbsp;
     to upload abstract</h6>
  </div>
</div>
<% end %>
