

<% content_for :styles do %>
    <style type="text/css">
        .heading-tittle h2 {
          text-transform: uppercase;
          position: relative;
          text-align: center;
          font-size: 28px;
          font-weight: 400px;
          line-height: 10px;
          letter-spacing: 1px;
          font-family: 'Roboto Condensed', sans-serif;
     }
     @media only screen and (max-width: 1280px) {
    .w-slider {
        height: 233px !important;
    }
}

@media only screen and (min-width: 1600px) {
    .w-slider {
        height: 298px !important;
    }
}

.w-slider {height: 265px;}


     .button {
  border-radius: 4px;
  background-color: #3ec9cb !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn {
    border-radius: 4px;
  background-color: #3ec9cb !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
    

    </style>
<%end%> 
<% if current_user%>

<div>
  <div class="container-5 w-container" style="max-width: none !important; margin-bottom: 50px;">
            <div>
      <div data-delay="4000" data-animation="slide" data-autoplay="1" data-duration="500" data-infinite="1" class="w-slider">
        <div class="w-slider-mask">
          <div class="slide-2 w-slide"></div>
          <div class="slide-3 w-slide">
            <a href="/tracks" class="button" style="position: absolute; top: 63%; left: 47%;  cursor: pointer; opacity: 0">
              
            </a>
          </div>
          <!-- <div class="slide-6 w-slide"></div> -->
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-slider-nav w-round"></div>
      </div>
      <div class="w-container"></div>
    </div>
    <div class="heading-tittle color-black w-container" style="margin-top: 20px;">
    <h2 class="heading-5" style=""><p style="text-decoration: underline; text-decoration-color: #3b1e9a;">Update Abstract</p></h2>
    </div>
    <h6 class="heading-5" style="font-family: 'Roboto Condensed', sans-serif;"><p style="text-decoration: underline; text-decoration-color: #3b1e9a; display: inline;">Name of the file should be : </p> < First Name Last Name_Track Name></h6>
    <div class="div-block-4">
      <div>
        <% if current_user.abstract.present?%>
        <div>
        	<%= form_tag abstracts_path, enctype: 'multipart/form-data' do %>
            
              <div class="card">
                <div class="row-2 w-row">
                  <div class="column-12 w-col w-col-12">
                    <div class="column-6 w-col w-col-6">
                    <h5 class="heading-10" style="font-size: 17px;font-family: 'Roboto Condensed', sans-serif; margin-left: 10px; color:#6c757d!important">Select from the following track lists:</h5>
                    </div>
                    <div class="column-6 w-col w-col-6" style="margin-top: 10px; padding-left: 5px;">
                      <select>
                        <option>List of tracks</option>
                        <option value="volvo">Asian Way of Thinking: Integrating Local Diversities in Management Education</option>
                        <option value="saab">Building Inclusive Markets</option>
                        <option value="opel">Business Initiatives for Sustainable Development</option>
                        <option value="audi">Engaging with SDGs - The Local Experiences</option>
                        <option>Extreme Events, Disasters and Building Resilience</option>
                        <option>Global Peace and Education</option>
                        <option>Inequality : The Role for Businesses</option>
                        <option>Innovating on Pedagogy and Curriculum</option>
                        <option>Management Education for Future</option>
                        <option>Re-thinking CSR</option>
                        <option>Social Entrepreneurship</option>
                        <option>Social Impact Investing</option>
                        <option>Sustainability and Development</option>
                        <option>Sustainable Businesses</option>
                        <option>Sustainable Cities</option>
                      </select>
                    </div>
                  </div>
                  <div class="column-12 w-col w-col-12">
              <div class="column-6 w-col w-col-6" >
                <h5 class="heading-10" style="font-size: 17px;font-family: 'Roboto Condensed', sans-serif; margin-left: 10px; color:#6c757d!important">Uploaded abstract</h5>
              </div>
              <div class="column-6 w-col w-col-6" style="margin-top: 10px;">
                
                	 <a class="btn" href="<%= @uploaded_abstract.abstract_url%>" target="blank" style="font-size: 16px; margin-top: 20px;"> 	<%= @uploaded_abstract.title %> </a>
                
              </div>
              </div>
              <div class="column-12 w-col w-col-12">
              <div class="column-6 w-col w-col-6" >
                <h5 class="heading-10" style="font-size: 17px;font-family: 'Roboto Condensed', sans-serif; margin-left: 10px; color:#6c757d!important">Choose new abstract</h5>
              </div>
              <div class="column-6 w-col w-col-6" style="margin-top: 10px; ">
                
                	<%= file_field_tag :file , :style => "margin-left: 5px;" %>
                
              </div>
            </div>
              </div>
            </div>
          
            <div class="w-row heading-5" style="margin-top: 20px;">
              <%= button_tag(type: "submit", class: "button") do %>
                   <span class="">Update File</span>
              <% end %>
        	</div>
            <% end %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<% elsif %>
<div>
  <div class="container-5 w-container">
    <h6 class="heading-5">Please &nbsp;
    	<%= link_to "Log in", new_user_session_path,class:"btn btn-sm btn-danger btn-cons" %>
    	/
    	<%= link_to "Register", new_user_registration_path,class:"btn btn-sm btn-danger btn-cons" %>&nbsp;
     to upload abstract</h6>
  </div>
</div>
<% end %>
