
<% if current_user%>

<div>
  <div class="container-5 w-container">
    <h3 class="heading-5">Update Abstract</h3>
    <h6 class="heading-5">(Name of the file should be studentname_abstract-track)</h6>
    <div class="div-block-4">
      <div>
        <% if current_user.abstract.present?%>
        <div>
        	<%= form_tag abstracts_path, enctype: 'multipart/form-data' do %>
            <div class="w-row">
              <div class="column-3 w-col w-col-5">
                <h5 class="heading-6">
                	Uploaded abstract:
                	<a href="<%= current_user.abstract.abstract_url%>" target="blank"> 	<%= current_user.abstract.title %> </a>
                </h5>
              </div>
              <div class="column-3 w-col w-col-7">
                <h5 class="heading-7">
                	Choose new abstract:
                	<%= file_field_tag :file  %>
                </h5>
              </div>
            </div>
            <div class="w-row heading-5">
            	<%= submit_tag 'Update file' %>
        	</div>
            <% end %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<% elsif %>
<div>
  <div class="container-5 w-container">
    <h6 class="heading-5">Please &nbsp;
    	<%= link_to "Log in", new_user_session_path,class:"btn btn-sm btn-danger btn-cons" %>
    	/
    	<%= link_to "Register", new_user_registration_path,class:"btn btn-sm btn-danger btn-cons" %>&nbsp;
     to upload abtract</h6>
  </div>
</div>
<% end %>
