<div>
  <div class="container-4 w-container">
    <div class="div-block-3">
      <div>
        <h3 class="heading">Log in</h3>
      </div>
      <div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="div-block-1">
          <div>
            <div class="w-row">
              <div class="column-3 w-col w-col-3">
                <h5 class="heading-6" style="text-align: right !important;">Email Address</h5>
              </div>
              <div class="column-5 w-col w-col-9">
                  <%= f.email_field :email,class: "form-control w-input", autofocus: true, autocomplete: "email", id: "name-field",placeholder:"Enter Email", :required => true%>
                <%if resource.errors[:email].present?%>
                  <span>* Email <%=resource.errors[:email].first%></span>
                <%end%>
              </div>
            </div>
          </div>
          <div>
            <div class="w-row">
              <div class="column-3 w-col w-col-3">
                <h5 class="heading-6" style="text-align: right !important;">Password</h5>
              </div>
              <div class="column-5 w-col w-col-9">
                <%= f.password_field :password, autocomplete: "off", class: "form-control w-input", id: "name-field",placeholder:"Enter password", :required => true%>
              </div>
             
            </div>
          </div>
          <div>
            <div class="w-row">
              <div class="column-3 w-col w-col-3">
                <% if devise_mapping.rememberable? -%>
                      <h5 class="heading-6" style="text-align: right !important;"><%= f.check_box :remember_me %>&nbsp; Remember Me</h5>
                <% end -%>
              </div>
              <div class="column-5 w-col w-col-9">
                  <%= f.submit "Log in", class: "button-3 w-button", style: "float:none;" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>